<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Change Password</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/might_style.css">
  <link rel="stylesheet" type="text/css" href="css/opensans_font.css">
  <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type="text/css">
  
  <script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
  <script src="js/bootstrap.min.js"></script>


</head>
<body> -->

	<header class="header_login ">
		<div class="container-fluid"> 
			<div class="row ">
			<div class="fixed_logo  ">
  			<div class="col-md-3 col-xs-5 col-sm-3 login_logo   ">
            	<img class="img-responsive" src="images/logo.png"  alt="Logo"/> 
            </div>
            
             <div class="col-md-3 col-xs-5  icon_container">
            <div class="row">
                <div class="icon_wrapper ">
                
                    <!--<div class="icon_circle">
                        <img class="img-responsive" src="images/alert.png" alt=""/> 
                    </div>-->
                    
                    <!--<div class="icon_circle">
                        <img class="img-responsive" src="images/archive.png" alt="">
                    </div>-->
                    
                    <div class="icon_circle ">
                       <!--  <img class="img-responsive" src="images/home.png" alt=""/> -->
                        
                         <span ng-click="homebtn_click();">  <img class="img-responsive" src="images/home.png" alt="" /></span>
                    </div>
                    
                    <div class="icon_circle ">
                  <!--   <img  class="img-responsive" src="images/change_pwd.png" alt=""/> -->
                   <span ng-click="changePassword();">  <img class="img-responsive" src="images/change_pwd.png" alt="" /></span>
                    </div>
                    
                    <div class="icon_circle  ">
                 <!--    <img  class="img-responsive" src="images/logout.png" alt=""/> -->
                  <span ng-click="logout();">  <img class="img-responsive" src="images/logout.png" alt="" /></span>
                    </div>
                    
                 </div>
                </div>
                <div class="row ">
                    <div class="clearfix ">
                  <!--   <p class="welcome_label"> Welcome {{userDetails.displayName}} </p> -->
                    </div>
                 </div>
             </div>	
            
			</div>	
           	
			</div> 
		</div>
	</header>
	
	
	<div class="container-fluid  forgot_pwd_body"> 
	<!--<div class="col-md-5 col-sm-5 pull-left clearfix  overview_container hidden-xs  ">
	
		<h2>Empowering with the right information <br class="hidden-sm"> at the right time </h2>
	 
	</div>-->
	<div class="col-md-6 col-xs-12 col-sm-6 pull-right top-space clearfix forgot_pwd_container ">
		
		 <form name="changePasswordForm" id="changePasswordForm" ng-submit="submitChangePasswordData()" class="form">
			<div class="col-md-10 col-xs-12 col-sm-12 clearfix forgot_pwd_form  ">
			 <h3 ng-if="isPasswordChanged"  style="color: #61923C;">Password has been changed.Please click on home icon to login.</h3>
			<div class="col-md-12 col-xs-12 col-sm-12 top-space">
					<h4>Change Password</h4>
				</div>
				<!--<div class="col-md-12 col-xs-12 col-sm-12 top-space">
					<p>Please enter your Email ID to send a link to create new password</p>
				
				</div>-->
				
				<div class="col-md-12 col-xs-12 col-sm-12 top-space">
					<p>Current Password</p>
					<input type="password" class="form-control" ng-model="changePasswordForm.currentPwd" required>
					 <span ng-if="!validationCp.currentPwd" class=" col-sm-12 xe-list-label xe-alert_cpassword pull-right" 
						style="color: red; font-size: 13px !important;">Please enter valid Password</span>	
					
				</div>
				<div class="col-md-12 col-xs-12 col-sm-12 top-space">
					<p>New Password</p>
					<!-- <input type="text" class="form-control" required > -->
					
					
<!-- 					 <input type="password" id="password" class="form-control" name="password" ng-model="changePasswordForm.password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required  /> -->
					 <!-- <input type="password" id="password" class="form-control" name="password" ng-model="changePasswordForm.password" required  />
					 <span ng-if="!validationCp.NewPwd" class=" col-sm-12 xe-list-label xe-alert_cpassword pull-right" 
						style="color: red; font-size: 13px !important;">Please enter valid Password!</span>	
   <span ng-show="changePasswordForm.password.$error.required && changePasswordForm.password.$dirty">required</span>
   <span ng-show="!changePasswordForm.password.$error.required && (changePasswordForm.password.$error.minlength || changePasswordForm.password.$error.maxlength) && changePasswordForm.password.$dirty">Passwords must be between 8 and 20 characters.</span>
   <span ng-show="!changePasswordForm.password.$error.required && !changePasswordForm.password.$error.minlength && !changePasswordForm.password.$error.maxlength && changePasswordForm.password.$error.pattern && changePasswordForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
					ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" -->
					  <input type="password" id="password" class="form-control" name="password" ng-model="changePasswordForm.password" ng-minlength="8" ng-maxlength="20"  required/>
					 <span ng-if="!validationCp.NewPwd" class=" col-sm-12 xe-list-label xe-alert_cpassword pull-right" 
						style="color: red; font-size: 13px !important;">Password should be 8 to 20 characters!!</span>	
						
						<!--  <p ng-show="changePasswordForm.password.$error.required" class="error">*</p>
        <p ng-show="changePasswordForm.password.$error.minlength" class="error">
          Passwords must be between 8 and 20 characters.</p>
        <p ng-show="changePasswordForm.password.$error.pattern" class="error">
          Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</p> -->
				</div>
                <div class="col-md-12 col-xs-12 col-sm-12 top-space">
					<p>Confirm Password</p>
					<!-- <input type="text" class="form-control"required > -->
					      <input type="password" id="password_c" class="form-control" name="password_c" ng-model="changePasswordForm.password_c" required  />
					      <span ng-if="!validationCp.confirmPwd" class=" col-sm-12 xe-list-label xe-alert_cpassword pull-right" 
						style="color: red; font-size: 13px !important;">Password should be 8 to 20 characters!!</span>
						<span ng-if="!validationCp.isPwdequal" class=" col-sm-12 xe-list-label xe-alert_cpassword pull-right" 
						style="color: red; font-size: 13px !important;">Passwords do not match.Please confirm your password.</span>	
						<!-- <span class=" col-sm-12 xe-list-label xe-alert_cpassword pull-right"  ng-show="changePasswordForm.password !== changePasswordForm.password_c">Passwords do not match.Please confirm your password.</span> -->
  <!--  <span ng-show="changePasswordForm.password_c.$error.required && changePasswordForm.password_c.$dirty">Please confirm your password.</span>
   <span ng-show="!changePasswordForm.password_c.$error.required && changePasswordForm.password_c.$error.noMatch && changePasswordForm.password.$dirty">Passwords do not match.</span>
					 -->
				</div>
				
                <div class="col-md-12 col-xs-12 col-sm-12 text-center ">
				<!-- 	<button type="button" class="btn btn-primary register_btn">Save Changes</button> -->
			<!-- 	  <input type="submit" id="submit"
                 class="btn btn-primary register_btn" value="Save Changes" /> -->
                 
                 <div class="col-md-4 col-xs-5 col-sm-4 text-center ">
				  <input type="button"
                 class="btn btn-primary register_btn"  ng-click="$back()" value="Back" />
                 
                 <!-- <a ng-click="$back()">Back</a> -->
				  </div>
				    <div class="col-md-8 col-xs-7 col-sm-8 text-center ">
				    <input type="submit" id="submit"
                 class="btn btn-primary register_btn" value="Save" />
				  </div>
               <!--     <input type="submit" id="submit"
                 class="btn btn-primary register_btn" ng-disabled="!changePasswordForm.$valid" value="Save Changes" /> -->
				</div>
				
				<!--  <div ng-show ="hasSecureID" class="col-md-12 col-xs-12 col-sm-12 text-center ">
					<button type="button" class="btn btn-primary register_btn">Save Changes</button>
				  <input type="submit" id="submit"
                 class="btn btn-primary register_btn" value="Save Changes" /> -->
                 
              <!--    <div class="col-md-4 col-xs-4 col-sm-4 text-center ">
				  <input type="button"
                 class="btn btn-primary register_btn"  ng-click="$back()" value="Back" />
                 
                 <a ng-click="$back()">Back</a>
				  </div>
				    <div class="col-md-8 col-xs-8 col-sm-8 text-center ">
				    <input type="submit" id="submit"
                 class="btn btn-primary register_btn" value="Save Changes" />
				  </div> -->
               <!--     <input type="submit" id="submit"
                 class="btn btn-primary register_btn" ng-disabled="!changePasswordForm.$valid" value="Save Changes" /> -->
			<!-- 	</div> -->
				
			</div>
		</form>
	</div>
	</div>
	<script>
	  $(".form-control").keyup(function (e){
		    
		  $("span").html("");
	  });
	</script>
<!-- 	
	<script type="text/javascript">
    function CheckPasswordStrength(password) {
        var password_strength = document.getElementById("password_strength");
 
        //TextBox left blank.
        if (password.length == 0) {
            password_strength.innerHTML = "";
            return;
        }
 
        //Regular Expressions.
        var regex = new Array();
        regex.push("[A-Z]"); //Uppercase Alphabet.
        regex.push("[a-z]"); //Lowercase Alphabet.
        regex.push("[0-9]"); //Digit.
        regex.push("[$@$!%*#?&]"); //Special Character.
 
        var passed = 0;
 
        //Validate for each Regular Expression.
        for (var i = 0; i < regex.length; i++) {
            if (new RegExp(regex[i]).test(password)) {
                passed++;
            }
        }
 
        //Validate for length of Password.
        if (passed > 2 && password.length > 8) {
            passed++;
        }
 
        //Display status.
        var color = "";
        var strength = "";
        switch (passed) {
            case 0:
            case 1:
                strength = "Password Weak";
                color = "red";
                break;
            case 2:
                strength = "Password Good";
                color = "darkorange";
                break;
            case 3:
            case 4:
                strength = "Password Strong";
                color = "green";
                break;
            case 5:
                strength = "Password Very Strong";
                color = "darkgreen";
                break;
        }
        password_strength.innerHTML = strength;
        password_strength.style.color = color;
    }
</script> -->
	
	
<!-- 	 <div class="footer clearfix"><p>© 2016 UST-Global</p></div> -->
	
	
<!-- </body>
</html>
 -->